# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Linux
*~

# AWS
*.pem
.kiro
*glue.py
*lambda.py
.env.local

# Deployment scripts (local only)
deploy.sh
*.push-to-ecr.sh
*.local.sh
